@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #1e40af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-helv-neue: var(--helv-neue);
  --color-primary: #7074ff;
  --color-slate: #020617;
  --shadow-dropdown: 0px 12px 16px -4px #1018280a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .no_print {
    display: none;
  }
}

/* globals.css or a CSS module */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* background-color: #7074ff; */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* background-color: #7074ff; */
}

.support {
  background-image: url(../assets/support.svg);
  background-position: right 10px center;

  background-repeat: no-repeat;
}

.blurbackground {
  background-image: url(../assets/dashboardbg.svg);
  background-position: bottom center;

  background-repeat: no-repeat;
}
.blurprofessional {
  background-image: url(../assets/professionalblur.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.careershadow {
  box-shadow: 0px 12px 16px -4px #1018280a, 0px 4px 6px -2px #10182808;
}

.sidenavshadow {
  box-shadow: 0px 20px 24px -4px #10182814, 0px 8px 8px -4px #10182808;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10% auto;
  -webkit-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
/* .embla__slide {
  flex: 0 0 100%;
  min-width: 0;
} */

.embla {
  --slide-spacing: 1rem;
  overflow: hidden;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
}

/* Custom scrollbar hide */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .blurbackground {
    background-position: center 400px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
